:root {
  --color-main:              #50162D;
  --color-main-light:        #711238;
  --color-accent1:           #b71b59;
  --color-accent2:           #CC0655;
}
a.classic:focus {
    color: green;
}
table.highlight > tbody > tr:hover {
    background-color: red;
}

.light-blue.darken-1 {
  background-color: var(--color-accent2) !important;
}

.light-blue-text.text-darken-1 {
  color: var(--color-accent2) !important;
}

.cyan {
  background-color: var(--color-main) !important;
}

.teal.lighten-1 {
  background-color: var(--color-main-light) !important;
}

.teal-text.text-lighten-1 {
  color: var(--color-main-light) !important;
}


.teal.accent-3 {
  background-color: #F7CFDF !important;
}

.teal-text.text-accent-3 {
  color: #F7CFDF !important;
}

.orange.accent-2 {
  background-color: var(--color-accemt) !important;
}

.orange-text.text-accent-2 {
  color: var(--color-accemt) !important;
}

a {
  color: var(--color-accent2);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.collection .collection-item.active {
  background-color: var(--color-main-light);
  color: #eafaf9;
}

.collection a.collection-item {
  display: block;
  transition: .25s;
  color: var(--color-main-light);
}

.secondary-content {
  float: right;
  color: var(--color-main-light);
}

span.badge.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--color-main-light);
  border-radius: 2px;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #f0cbda;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-main-light);
  transition: width .3s linear;
}

.progress .indeterminate {
  background-color: var(--color-main-light);
}


nav ul li.active {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: var(--color-accemt);
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #f289b3;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-main-light);
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #c84578;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: var(--color-main-light);
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}
.btn-floating:hover {
  background-color: var(--color-main-light);
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: #FFF0F4;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: var(--color-main-light);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--color-main-light);
  box-shadow: 0 1px 0 0 var(--color-main-light);
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--color-main-light);
}

.input-field .prefix.active {
  color: var(--color-main-light);
}

[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid var(--color-main-light);
  background-color: var(--color-main-light);
  z-index: 0;
  transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid var(--color-main-light);
}

[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid var(--color-main-light);
  background-color: var(--color-main-light);
  z-index: 0;
  transform: scale(0.5);
}

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var(--color-main-light);
  border-bottom: 2px solid var(--color-main-light);
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
  left: -10px;
  top: -11px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid var(--color-main-light);
  border-bottom: none;
  transform: rotate(90deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-main-light);
  background-color: var(--color-main-light);
  z-index: 0;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: var(--color-main-light);
}

.select-dropdown li.optgroup {
  border-top: 1px solid #FFF0F4;
}
input[type=range] + .thumb {
  position: absolute;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: var(--color-main-light);
  top: 10px;
  margin-left: -6px;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: var(--color-main-light);
  font-size: 0;
  transform: rotate(45deg);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--color-main-light);
  transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  transition: .3s;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--color-main-light);
  margin-top: -5px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--color-main-light);
}
.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-color: var(--color-main-light);
}
.picker__date-display {
  text-align: center;
  background-color: var(--color-main-light);
  color: #fff;
  padding-bottom: 15px;
  font-weight: 300;
}
.picker__close, .picker__today {
  font-size: 1.1rem;
  padding: 0 1rem;
  color: var(--color-main-light);
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  border-radius: 50%;
  transform: scale(0.9);
  background-color: var(--color-main-light);
  color: #ffffff;
}

